*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Muli:300&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #2B88F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 10px;
	text-align: center;
}
nav{
    margin-bottom: 0;
    padding: 0;
}

h3 {
	color: #fff;
	margin: 10px 0 20px;
}

.container {
	width: 500px;
	max-width: 100%;
}

textarea {
	border: none;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin: 0 0 20px;
	height: 100px;
	width: 100%;
}

.tag {
	background-color: #f0932b;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
}

.tag.highlight {
	background-color: #273c75;
}@import url('https://fonts.googleapis.com/css?family=Muli:300&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #2B88F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Muli', sans-serif;
	margin: 0;
	padding: 10px;
	text-align: center;
}

h3 {
	color: #fff;
	margin: 10px 0 20px;
}

.container {
	width: 500px;
	max-width: 100%;
}

textarea {
	border: none;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin: 0 0 20px;
	height: 100px;
	width: 100%;
}

.tag {
	background-color: #f0932b;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px;
	margin: 0 5px 10px 0;
}

.tag.highlight {
	background-color: #273c75;
}